/* Visible Hero Video */
.hero-video {
    width: 100%;
    height: 100vh;         /* Full height of the viewport */
    object-fit: fill;
    display: block;
    margin: 0 auto;
    z-index: 1;            /* Ensure the video appears above the blurred background */
}

/* Slider Section */
.slider {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;  /* Full viewport height */
    overflow: hidden;
}

.slide {
    position: relative;
    display: block;  /* Ensure the slide is visible */
    width: 100%;
    height: 100%;  /* Ensure the slide takes full height */
    background-size: cover;
    background-position: center;
}

.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.slider h2 {
    font-size: 5.5rem !important;
}

.slider button {
    padding: 20px 40px;
}

.slider button a {
    font-size: 16px;
}

.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

.image-content {
    position: absolute; 
    bottom: 10%;
    right: 5%;
    color: white; 
    z-index: 2; 
    text-align: right;
}

.image-content h2 {
    font-size: 4.5rem;
    color: white;
    margin-bottom: 30px;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-content .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-content button {
    display: inline-block;
    margin-right: 10px;
}

/* Lines/Indicators */
.lines {
    position: relative;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container {
    cursor: pointer;
    width: 30%;
    height: 45px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Linea stessa */
.line {
    height: 4px;
    width: 100%;  /* La linea riempie il contenitore */
    background-color: #C7C7C8;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #B28564;
}

.about-section {
    margin: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 80vw;
    background-color: white;
    max-width: 1200px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 45px;
}

.about-media {
    width: 50%;  /* Imposta la larghezza al 50% della sezione */
    aspect-ratio: 1 / 1;  /* Imposta l'altezza uguale alla larghezza */
    object-fit: cover;  /* Assicura che il video si adatti senza distorsioni */
    object-position: center;
}

.about-text {
    padding: 30px;
    text-align: right;
}

.about-text h3 {
    font-size: 18px;
    color: #BA9F5D;
    margin: 0;
}

.about-text h1 {
    font-size: 45px;
    margin: 15px 0;
    color: #333;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin: 25px 0;
}

.about-content-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; /* Reverses the order */
    max-width: 100%;
    gap: 45px;
}

.about-content-reverse .about-text {
    text-align: left; /* Align text to the right */
}

@media (max-width: 600px) {
    .hero-video {
        object-fit: cover;
        object-position: top;
    }

    .slider, .hero-video, .slide img {
        height: 85vh !important;
    }

    .slider h2 {
        font-size: 3rem !important;
        font-weight: 600;
    }

    .lines {
        bottom: 30px;
    }
    
    .line-container {
        height: 25px;
        margin: 0 2px;
    }
    
    /* Linea stessa */
    .line {
        height: 3px;
    }

    .slider button {
        padding: 15px 20px;
    }

    .slider button a {
        font-size: 14px;
        font-weight: 400;
    }

    .banner-content {
        padding: 30px;
    }

    .banner {
        height: 40vh !important;
    }
    
    .banner h2 {
        font-size: 22px !important;
        font-weight: 600 !important;
        margin: 25px 0;
    }

    .banner p {
        font-size: 18px !important;
    }

    #social-footer-column {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .product-selector-container h1 {
        font-size: 50px !important;
    }

    .product-selector-container h2 {
        font-size: 16px !important;
        margin-bottom: 50px;
    }

    .product-container img {
        height: 425px !important;
    }

    .grid-section {
        padding: 3px !important;
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(3, auto) !important;
        gap: 3px !important; /* Adjust spacing between grid items */
    }
    
    .grid-item {
        width: 100%;
        height: 30vw;
        max-height: 500px;
        overflow: hidden;
    }
    
    .grid-item img {
        width: 100%;
        height: 100%; /* Make the image fill the grid item */
        object-fit: cover; /* Ensure the image scales without distortion */
        object-position: center; /* Center the image within the grid item */
    }
    
    .double-row, .phone-double {
        grid-column: span 2; /* Spans the item across 2 rows */
    }
}

@media (max-width: 2000px) {
    .hero-video{
        object-fit: cover;
    }
}


@media (max-width: 1000px) {
    

    .about-section {
        margin: 150px 0;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text {
        padding: 20px;
    }

    .about-text h1 {
        font-size: 40px;
    }

    .about-text p {
        text-align: justify;
    }

    .about-media {
        width: 95%;
    }

    .about-content-reverse {
        flex-direction: column-reverse;
    }
}

/* Banner Section */
.banner {
    position: relative;
    background-image: url(photos/DSC04024-88.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
    height: 37vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay for readability */
    z-index: 1;
}

.banner h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    z-index: 2; /* Text stays above the overlay */
    position: relative;
}

.banner p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    z-index: 2; /* Text stays above the overlay */
    position: relative;
}

.product-selector-container {
    margin: 75px 0;
}

.product-selector-container h1 {
    font-size: 75px;
    text-align: center;
    margin: 0;
}

.product-selector-container h2 {
    font-size: 20px;
    text-align: center;
    color: #BA9F5D;
    margin-bottom: 50px;
}

.product-selector {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping if items exceed available width */
    justify-content: center;
    gap: 30px; /* Space between the elements */
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    margin: 0 auto;
}

.product-selector a {
    width: 100%;
    background-color: #DDDDDD;
    text-align: center;
    text-decoration: none;
}

.product-container { /* Adjust for proper spacing within the 80% width */
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-container:hover img {
    transform: scale(0.95);
}

.product-container img {
    width: auto;
    height: 575px;
    padding: 20px;
    transition: transform 0.3s ease;
    object-fit: contain; /* Prevent cropping */
    transform: scale(0.90);
}

.product-container p {
    border: 1px solid #B28564; /* Add border around the text */
    padding: 12px;
    text-align: center;
    margin: 0;
}

.product-name {
    width: 100%; /* Match the width of the container */
    font-size: 20px;
    font-weight: 600;
    color: #191919;
    background: white; /* Optional for better contrast */
    box-sizing: border-box; /* Include padding/border in width */
    position: relative;
    margin-top: 20px; /* Add some space between image and text */
}

.product-subtext {
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    background: white; /* Optional for better contrast */
    box-sizing: border-box; /* Include padding/border in width */
    position: relative;
    border-top: none !important;
}

.grid-section {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px; /* Adjust spacing between grid items */
}

.grid-item {
    width: 100%;
    height: 30vw;
    max-height: 500px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%; /* Make the image fill the grid item */
    object-fit: cover; /* Ensure the image scales without distortion */
    object-position: center; /* Center the image within the grid item */
}

.double-row {
    grid-column: span 2; /* Spans the item across 2 rows */
}